body {
    display: block;
    color: #404040;
    font-family: sans-serif;
    margin: 0;
    background-color: #AAAAAA;
}

#PointlessnessLeague {
    display: inline-block;
    color: #FFFFFF;
    width: 120px;
    margin-left: 8px;
}



thead {
    background-color: #404040;
    color: #FFFFFF;
    text-align: left;
}

#contentContainer {
    width: 980px;
    margin: 0 Auto;
    background-color: #FFFFFF;
}

Main {
    width: 1200px;
    margin: auto;
    background-color: #faebd7;
}

article {
    margin-top: 8px;
    padding: 8px 0px;
    margin-bottom: 8px;
    color: #404040;
    display: inline-block;
    border-top: solid 1px #AAA;
}

article li {
    width: 350px;
}

article div {
    display: inline-block;
    width: 400px;
    vertical-align: top;
    padding-top: 0;
    }

header + footer {
    padding: 8px
}

#HeraldLogo {
    height: 60px
}

article h3 {
    background-color: #700b0b;
    color: #FFFFFF;
    font-size: 21px;
    font: bold;
    margin: 0;
        }

h2 {
    font-size: 26px;
    display: block;

}

h1 {
    font: bold;
    font-size: 50px;
}

header {
    background-color: #700b0b;
    color: #FFFFFF;
    font: bold;
}

footer {
    background-color: #404040;
    color: #FFFFFF;
    }

footer div {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    padding-top: 0;
    width: 600px;
    }

a {
    text-decoration: none;
    color: #FFFFFF;

}

a:hover {
    color: #AAAAAA;
}

li {
    width: 40px;
    padding-left: 14px;
    border-left: 1px;
    border-left-style: solid;
}

li:first-child {
    border-left-style: none;
}

#OurEditor img {
    height: 120px;
    width: 95px;
    display: inline-block;
}


header img {
    width: 48px;
    height: 68px;
}

aside {
    margin: 0 0 0 0;
    width: 300px;
    background-color: #FFFFFF;
    position: relative;
    left: 890px;
}

aside table {
    width: 300px;
}

aside h3 {
    background-color: #700b0b;
    color: #FFFFFF;
}